---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'DimaNotoRegular';
    src: local('DimaNotoRegular'), url('assets/fonts/DimaNotoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}      

.fonted {
  font-family: DimaNotoRegular;
}
