---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Architects Daughter';
    src: local('DimaNotoRegular'), url('DimaNotoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}      

@font-face {
    font-family: 'Helvetica Neue';
    src: local('DimaNotoRegular'), url('DimaNotoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}     

.fonted {
  font-family: DimaNotoRegular;
}

h1,h2,h3
{
	font-family: DimaNotoRegular;
}

